<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.junit.launchconfig">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/cyrilqc-core/src/main/java/com/cyrilqc/runner/junit4/CyrilQCJUnit4Test.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.junit.CONTAINER" value=""/>
<booleanAttribute key="org.eclipse.jdt.junit.KEEPRUNNING_ATTR" value="false"/>
<stringAttribute key="org.eclipse.jdt.junit.TESTNAME" value=""/>
<stringAttribute key="org.eclipse.jdt.junit.TEST_KIND" value="org.eclipse.jdt.junit.loader.junit4"/>
<listAttribute key="org.eclipse.jdt.launching.CLASSPATH">
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry containerPath=&quot;org.eclipse.jdt.launching.JRE_CONTAINER&quot; javaProject=&quot;cyrilqc-core&quot; path=&quot;1&quot; type=&quot;4&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry containerPath=&quot;org.eclipse.jdt.launching.JRE_CONTAINER&quot; javaProject=&quot;cyrilqc-core&quot; path=&quot;3&quot; type=&quot;4&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry path=&quot;3&quot; projectName=&quot;cyrilqc-core&quot; type=&quot;1&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry containerPath=&quot;org.eclipse.jdt.launching.JRE_CONTAINER&quot; javaProject=&quot;cyrilqc-core&quot; path=&quot;3&quot; type=&quot;4&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/home/sochor/.gradle/caches/artifacts-13/filestore/org.apache.ant/ant-junit/1.8.4/jar/ad4ccc70fd89c7441d6b87b2140455917dab951d/ant-junit-1.8.4.jar&quot; path=&quot;3&quot; sourceAttachmentPath=&quot;/home/sochor/.gradle/caches/artifacts-13/filestore/org.apache.ant/ant-junit/1.8.4/source/28729ca9d25669fbf13a9cd69abea7ad01bad14b/ant-junit-1.8.4-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/home/sochor/.gradle/caches/artifacts-13/filestore/junit/junit/4.11-beta-1/jar/a66fb6a39a18d173c8c0e27040aa1f38697d7bf5/junit-4.11-beta-1.jar&quot; path=&quot;3&quot; sourceAttachmentPath=&quot;/home/sochor/.gradle/caches/artifacts-13/filestore/junit/junit/4.11-beta-1/source/638e5e566847778059c4633d2815ccd027210cce/junit-4.11-beta-1-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/home/sochor/.gradle/caches/artifacts-13/filestore/org.slf4j/slf4j-log4j12/1.7.2/jar/7539c264413b9b1ff9841cd00058c974b7cd1ec9/slf4j-log4j12-1.7.2.jar&quot; path=&quot;3&quot; sourceAttachmentPath=&quot;/home/sochor/.gradle/caches/artifacts-13/filestore/org.slf4j/slf4j-log4j12/1.7.2/source/6f265eef59034166637299e00233d8dc83bfe2ef/slf4j-log4j12-1.7.2-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/home/sochor/.gradle/caches/artifacts-13/filestore/org.apache.ant/ant/1.8.4/jar/8acff3fb57e74bc062d4675d9dcfaffa0d524972/ant-1.8.4.jar&quot; path=&quot;3&quot; sourceAttachmentPath=&quot;/home/sochor/.gradle/caches/artifacts-13/filestore/org.apache.ant/ant/1.8.4/source/537740c84824c3bf2fd4ed752d2a33a1051fde71/ant-1.8.4-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/home/sochor/.gradle/caches/artifacts-13/filestore/org.apache.ant/ant-junit4/1.8.4/jar/da0d344813e18c9a0b3da1f6a060756460e8e817/ant-junit4-1.8.4.jar&quot; path=&quot;3&quot; sourceAttachmentPath=&quot;/home/sochor/.gradle/caches/artifacts-13/filestore/org.apache.ant/ant-junit4/1.8.4/source/9e08fba87b7666816ce5741ee28b16c28a06006f/ant-junit4-1.8.4-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/home/sochor/.gradle/caches/artifacts-13/filestore/org.hamcrest/hamcrest-core/1.3/jar/42a25dc3219429f0e5d060061f71acb49bf010a0/hamcrest-core-1.3.jar&quot; path=&quot;3&quot; sourceAttachmentPath=&quot;/home/sochor/.gradle/caches/artifacts-13/filestore/org.hamcrest/hamcrest-core/1.3/source/1dc37250fbc78e23a65a67fbbaf71d2e9cbc3c0b/hamcrest-core-1.3-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/home/sochor/.gradle/caches/artifacts-13/filestore/org.slf4j/slf4j-api/1.7.2/jar/81d61b7f33ebeab314e07de0cc596f8e858d97/slf4j-api-1.7.2.jar&quot; path=&quot;3&quot; sourceAttachmentPath=&quot;/home/sochor/.gradle/caches/artifacts-13/filestore/org.slf4j/slf4j-api/1.7.2/source/58d38f68d4a867d4552ae27960bb348d7eaa1297/slf4j-api-1.7.2-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/home/sochor/.gradle/caches/artifacts-13/filestore/log4j/log4j/1.2.17/bundle/5af35056b4d257e4b64b9e8069c0746e8b08629f/log4j-1.2.17.jar&quot; path=&quot;3&quot; sourceAttachmentPath=&quot;/home/sochor/.gradle/caches/artifacts-13/filestore/log4j/log4j/1.2.17/source/677abe279b68c5e7490d6d50c6951376238d7d3e/log4j-1.2.17-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/home/sochor/.gradle/caches/artifacts-13/filestore/org.apache.ant/ant-launcher/1.8.4/jar/22f1e0c32a2bfc8edd45520db176bac98cebbbfe/ant-launcher-1.8.4.jar&quot; path=&quot;3&quot; sourceAttachmentPath=&quot;/home/sochor/.gradle/caches/artifacts-13/filestore/org.apache.ant/ant-launcher/1.8.4/source/8b60137ab0e210cf12b27f8e006362761cea3122/ant-launcher-1.8.4-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/data/sochor/workspaces/ceres/SVN_PKI/ThirdPartyLibs/Apache/AntLib/Contrib/0.6/ant-contrib-0.6.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/home/sochor/workspaces/ceres/SVN_PKI/ThirdPartyLibs/Apache/AntLib/Flaka/1.02.02/ant-flaka-1.02.02.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.DEFAULT_CLASSPATH" value="false"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.cyrilqc.runner.junit4.CyrilQCJUnit4Test"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="cyrilqc-core"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dcyrilqc.project.file=cyrilqc-fileEquals.xml"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${workspace_loc:cyrilqc-core/src/test-integration/resources}"/>
</launchConfiguration>
