<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.junit.launchconfig">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/cyrilqc-core/src/main/java/com/cyrilqc/runner/junit4/CyrilQCJUnit4Test.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.junit.CONTAINER" value=""/>
<booleanAttribute key="org.eclipse.jdt.junit.KEEPRUNNING_ATTR" value="false"/>
<stringAttribute key="org.eclipse.jdt.junit.TESTNAME" value=""/>
<stringAttribute key="org.eclipse.jdt.junit.TEST_KIND" value="org.eclipse.jdt.junit.loader.junit4"/>
<listAttribute key="org.eclipse.jdt.launching.CLASSPATH">
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry path=&quot;3&quot; projectName=&quot;cyrilqc-core&quot; type=&quot;1&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry containerPath=&quot;org.eclipse.jdt.launching.JRE_CONTAINER&quot; javaProject=&quot;cyrilqc-core&quot; path=&quot;3&quot; type=&quot;4&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/home/sochor/.gradle/caches/artifacts-13/filestore/junit/junit/4.11-beta-1/jar/a66fb6a39a18d173c8c0e27040aa1f38697d7bf5/junit-4.11-beta-1.jar&quot; path=&quot;3&quot; sourceAttachmentPath=&quot;/home/sochor/.gradle/caches/artifacts-13/filestore/junit/junit/4.11-beta-1/source/638e5e566847778059c4633d2815ccd027210cce/junit-4.11-beta-1-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/home/sochor/.gradle/caches/artifacts-13/filestore/org.apache.ant/ant/1.8.4/jar/8acff3fb57e74bc062d4675d9dcfaffa0d524972/ant-1.8.4.jar&quot; path=&quot;3&quot; sourceAttachmentPath=&quot;/home/sochor/.gradle/caches/artifacts-13/filestore/org.apache.ant/ant/1.8.4/source/537740c84824c3bf2fd4ed752d2a33a1051fde71/ant-1.8.4-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/home/sochor/.gradle/caches/artifacts-13/filestore/org.apache.ant/ant-junit/1.8.4/jar/ad4ccc70fd89c7441d6b87b2140455917dab951d/ant-junit-1.8.4.jar&quot; path=&quot;3&quot; sourceAttachmentPath=&quot;/home/sochor/.gradle/caches/artifacts-13/filestore/org.apache.ant/ant-junit/1.8.4/source/28729ca9d25669fbf13a9cd69abea7ad01bad14b/ant-junit-1.8.4-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/home/sochor/.gradle/caches/artifacts-13/filestore/org.apache.ant/ant-junit4/1.8.4/jar/da0d344813e18c9a0b3da1f6a060756460e8e817/ant-junit4-1.8.4.jar&quot; path=&quot;3&quot; sourceAttachmentPath=&quot;/home/sochor/.gradle/caches/artifacts-13/filestore/org.apache.ant/ant-junit4/1.8.4/source/9e08fba87b7666816ce5741ee28b16c28a06006f/ant-junit4-1.8.4-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/home/sochor/.gradle/caches/artifacts-13/filestore/org.apache.ant/ant-jsch/1.8.4/jar/83a98697334e753061e03ceb58f042d619ad59bb/ant-jsch-1.8.4.jar&quot; path=&quot;3&quot; sourceAttachmentPath=&quot;/home/sochor/.gradle/caches/artifacts-13/filestore/org.apache.ant/ant-jsch/1.8.4/source/bf54719f937f55f8b893b607458bc879541b2344/ant-jsch-1.8.4-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/home/sochor/.gradle/caches/artifacts-13/filestore/org.apache.ant/ant-apache-log4j/1.8.4/jar/fd483d68a5faa4f240dfc06a2f26f94bf4990833/ant-apache-log4j-1.8.4.jar&quot; path=&quot;3&quot; sourceAttachmentPath=&quot;/home/sochor/.gradle/caches/artifacts-13/filestore/org.apache.ant/ant-apache-log4j/1.8.4/source/4ee032865454745b7a7e404aaf64b4266313f495/ant-apache-log4j-1.8.4-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/home/sochor/.gradle/caches/artifacts-13/filestore/org.apache.ant/ant-apache-bsf/1.8.4/jar/89d199ca91a215b4284611607c0ec593c92d478c/ant-apache-bsf-1.8.4.jar&quot; path=&quot;3&quot; sourceAttachmentPath=&quot;/home/sochor/.gradle/caches/artifacts-13/filestore/org.apache.ant/ant-apache-bsf/1.8.4/source/9565c3fc65411e7d67e45e4c71a19902d886cb10/ant-apache-bsf-1.8.4-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/home/sochor/.gradle/caches/artifacts-13/filestore/org.apache.ant/ant-apache-bcel/1.8.4/jar/3448066ed8bc3d1a8d7e4bf1163d477dab40a0f7/ant-apache-bcel-1.8.4.jar&quot; path=&quot;3&quot; sourceAttachmentPath=&quot;/home/sochor/.gradle/caches/artifacts-13/filestore/org.apache.ant/ant-apache-bcel/1.8.4/source/3cea5824cf67cbdf513d2456c7dfa2be6e6ac327/ant-apache-bcel-1.8.4-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/home/sochor/.gradle/caches/artifacts-13/filestore/org.apache.ant/ant-apache-xalan2/1.8.4/jar/d502d605a7f1c9a66ddb3b81e55c8f014e700f2d/ant-apache-xalan2-1.8.4.jar&quot; path=&quot;3&quot; sourceAttachmentPath=&quot;/home/sochor/.gradle/caches/artifacts-13/filestore/org.apache.ant/ant-apache-xalan2/1.8.4/source/1e6fa42cf915c76cb5abc0944db3837f852e1b7a/ant-apache-xalan2-1.8.4-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/home/sochor/.gradle/caches/artifacts-13/filestore/ant-contrib/ant-contrib/1.0b3/jar/943cd5c8802b2a3a64a010efb86ec19bac142e40/ant-contrib-1.0b3.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/home/sochor/.gradle/caches/artifacts-13/filestore/ant4eclipse/ant4eclipse/0.5.0.rc1/jar/9f30d5e2ffa11196fdfc248338cb0508a2e5dd1f/ant4eclipse-0.5.0.rc1.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/home/sochor/.gradle/caches/artifacts-13/filestore/org.hamcrest/hamcrest-core/1.3/jar/42a25dc3219429f0e5d060061f71acb49bf010a0/hamcrest-core-1.3.jar&quot; path=&quot;3&quot; sourceAttachmentPath=&quot;/home/sochor/.gradle/caches/artifacts-13/filestore/org.hamcrest/hamcrest-core/1.3/source/1dc37250fbc78e23a65a67fbbaf71d2e9cbc3c0b/hamcrest-core-1.3-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/home/sochor/.gradle/caches/artifacts-13/filestore/org.apache.ant/ant-launcher/1.8.4/jar/22f1e0c32a2bfc8edd45520db176bac98cebbbfe/ant-launcher-1.8.4.jar&quot; path=&quot;3&quot; sourceAttachmentPath=&quot;/home/sochor/.gradle/caches/artifacts-13/filestore/org.apache.ant/ant-launcher/1.8.4/source/8b60137ab0e210cf12b27f8e006362761cea3122/ant-launcher-1.8.4-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/home/sochor/.gradle/caches/artifacts-13/filestore/com.jcraft/jsch/0.1.42/jar/a86104b0f2e0c0bab5b0df836065823a99b5e334/jsch-0.1.42.jar&quot; path=&quot;3&quot; sourceAttachmentPath=&quot;/home/sochor/.gradle/caches/artifacts-13/filestore/com.jcraft/jsch/0.1.42/source/e63085a9bf7c6b9ff3b245ff6f5445d10a1b7f6b/jsch-0.1.42-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/home/sochor/.m2/repository/log4j/log4j/1.2.13/log4j-1.2.13.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/home/sochor/.m2/repository/commons-logging/commons-logging/1.0.4/commons-logging-1.0.4.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/home/sochor/.gradle/caches/artifacts-13/filestore/bsf/bsf/2.4.0/jar/658f324024bb473c4d15d18b855676fa817353e9/bsf-2.4.0.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/home/sochor/.gradle/caches/artifacts-13/filestore/regexp/regexp/1.2/jar/1ef2d52fc0c52ab09a213d1c61f9c4072597ba1a/regexp-1.2.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/home/sochor/.gradle/caches/artifacts-13/filestore/bcel/bcel/5.1/jar/a3288784cacd97a429c0cf177c84225523790f87/bcel-5.1.jar&quot; path=&quot;3&quot; sourceAttachmentPath=&quot;/home/sochor/.gradle/caches/artifacts-13/filestore/bcel/bcel/5.1/source/bc7aaa08aa063e0eb08c4395c83ad15214a85090/bcel-5.1-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/home/sochor/.m2/repository/xml-apis/xml-apis/1.3.04/xml-apis-1.3.04.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/home/sochor/.m2/repository/xalan/serializer/2.7.1/serializer-2.7.1.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/home/sochor/.m2/repository/xalan/xalan/2.7.1/xalan-2.7.1.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry containerPath=&quot;org.eclipse.jdt.launching.JRE_CONTAINER&quot; javaProject=&quot;cyrilqc-core&quot; path=&quot;3&quot; type=&quot;4&quot;/&gt;&#10;"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.DEFAULT_CLASSPATH" value="false"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.cyrilqc.runner.junit4.CyrilQCJUnit4Test"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="cyrilqc-core"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Duse.eclipse.classpath=true"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${workspace_loc:cyrilqc-core/src/test-integration/resources}"/>
</launchConfiguration>
